.layout {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 99999;
  cursor: pointer;
  position: fixed;
  .modal_window {
    cursor: auto;
    background: var(--white-color);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.35);
    color: var(--black-color);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    box-sizing: border-box;
  }
}
